<section id="hero" class="hero is-danger is-fullheight-with-navbar">
  <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a id="" href="#" class="is-large navbar-item is-white">
        </a>
        <div class="navbar-burger burger" data-target="navmenu" aria-label="menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </div>
      </div>
      <div class="navbar-menu" id="navmenu">
        <div class="navbar-end">
          <a id="nav-hero" href="#hero" class="navbar-item">HOME</a>
          <a id="nav-info" href="#info" class="navbar-item">INFO</a>
        </div>
      </div>
    </div>
  </nav>



  <div id="mainbody" class="hero-body is-right">
    <div class="container">
      <div id="notif" class="notification">
        <button id="notifx" class="delete"></button>
        Welcome to Colorize, an app that provides you colors from a picture.
      </div>
      <h1 class="title is-black">
        Colorize
      </h1>
      <h2 id="start" class="subtitle">
        Start here:
      </h2>
      <div class="form-group">
        <form action="/" method="POST" enctype="multipart/form-data">
          <input type="file" name="upload" multiple />
          <div class="container">
            <input id="uplaod-btn" type="submit" value="Upload" /><span>Upload Photo here</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


{{!-- <section id="pictures">
  <div class="pic is-centered">
    <img src="https://via.placeholder.com/850x550">
  </div> --}}

  <div class="maincolors">
  <h3 class="colortext">Here are your top 5 colors:</h3>

  <div class="boxes">
    <div id="colorbox1">
      <p id ="hexvalue1">#68505f</p>
    </div>


    <div id="colorbox2">
      <p id ="hexvalue2">#c2ced6</p>
    </div>


    <div id="colorbox3">
      <p id ="hexvalue3">#c95ea6</p>
    </div>


    <div id="colorbox4">
      <p id ="hexvalue4">#18141a</p>
    </div>


    <div id="colorbox5">
      <p id ="hexvalue5">#bc3d1a</p>
    </div>
  </div>
</section>
</div>


  <div class="contrasting">
  <h3 class="context">Here are your contrasting colors:</h3>

  <div class="conboxes">
    <div id="conbox1">
      <p id ="convalue1"></p>
    </div>


    <div id="conbox2">
      <p id ="convalue2"></p>
    </div>


    <div id="conbox3">
      <p id ="convalue3"></p>
    </div>


    <div id="conbox4">
      <p id ="convalue4"></p>
    </div>


    <div id="conbox5">
      <p id ="convalue5"></p>
    </div>
  </div>
</section>
</div>






<section id="info">
  <div class="ft">
    <footer class="footer">
      <div class="content has-text-centered">
        <p class = "footerp">
          <strong>Colorize</strong> by Max Daniel, Corbin James, and Sean Mena. Find the link to
          our Github project <a href="https://github.com/maxonemillion/Project2">Here</a>.

        </p>
      </div>
    </footer>
  </div>
</section>