<p class="have-acct">Already have an account? Sign in!</p>
<form id="login">
    <input type="email" id="email-input1" placeholder="email">
    <input type="password" id="password-input1" placeholder="password">
    <button type="submit" id="submit-button">Login</button>
</form>
<p class="sign-up">New here? Sign up for free!</p>
<form id="signup">
    <input type="email" id="email-input2" placeholder="email">
    <input type="password" id="password-input2" placeholder="password">
    <button type="submit" id="submit-button">Sign Up</button>
</form>